<!doctype html>
<html lang="en">
<head>
    <title>Basketball Simulator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel=stylesheet href="stylesheets/base.css"/>
</head>
<body>

<script src="javascripts/jquery-1.9.1.js"></script>
<script src="javascripts/Three.js"></script>
<script src="javascripts/Detector.js"></script>
<script src="javascripts/OrbitControls.js"></script>
<script src="javascripts/KeyboardState.js"></script>
<script src="javascripts/THREEx.FullScreen.js"></script>
<script src="javascripts/THREEx.WindowResize.js"></script>
<script src="javascripts/LengthUtilities.js"></script>
<script src="javascripts/Basketball.js"></script>
<script src="javascripts/Court.js"></script>
<script src="javascripts/Backboard.js"></script>
<script src="javascripts/Rim.js"></script>
<script src="javascripts/Net.js"></script>

</div>

<div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>
<script src="javascripts/main.js"></script>

</body>
</html>
